@use "../../assets/style/themes";
@use "../../assets/style/mixins";
@import "../../assets/style/variables";

body {
  #addFriendsModal .modal-content{
    min-height: 400px;

    .input-group {
      button {
        background-color: #2eda00;
      }
      input {
        margin-right: 1em;
      }
    }
  }

  main {
    #userFriend {
      padding-right: 0;

      #userDetails {
        p {
          margin: 0;
        }

        .start_chat {
          cursor: pointer;
        }
        .friends_table div {
          display: flex;
          p {
            &:first-child {
              flex: 1 0 auto;
            }
            &:last-child {
              text-align: right;
              cursor: pointer;
            }
          }
        }
      }
    }

    #chatWindow {
      padding-left: 0;
      padding-right: 0;
      
      .user_dialog {
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;

        .chat_history {
          margin-left: 1em;
          display: flex;
          flex-direction: column-reverse;
          height: 100%;
          flex: 1;
          overflow: auto;

          ul {
            display: flex;
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}