@use "../../assets/style/themes";
@use "../../assets/style/mixins";
@import "../../assets/style/variables";

#userDetails .start_chat {
  cursor: pointer;
}

.user_dialog {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;

  .chat_history {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    flex: 1;
    overflow: auto;

    ul {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}